@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
:root {
  --defaultBg: #e0e0e0;
  --defaultFont: "Noto Sans", sans-serif;
  --defaultFontSize: 0.9rem;
  --primaryOutline: #3d5afe;
  --secondary: #455a64;
  --danger: #d32f2f;
}

body {
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-container {
  display: flex;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
}

h6 {
  color: rgb(114, 111, 111);
  font-style: normal;
}

/* button  styles */

button {
  padding: 8px 20px;
  font-family: var(--defaultFont);
  background: var(--defaultBg);
  outline: none;
  font-size: var(--defaultFontSize);
  border: none;
  font-weight: 700;
  border-radius: 6px;
  letter-spacing: 1px;
  box-shadow: 0px 2px 3px 0px #33333333;
  width: 150px;
}

/* ******************  */
/* variant */
/* outline styles */

.outline {
  border: 1px solid var(--primaryOutline);
  background: #fff;
}

.outline:hover,
.outline:focus {
  border: 1px solid var(--primaryOutline);
  background: #9bb6ff;
}

/* text */

.text {
  border: none;
  background: none;
  color: var(--primaryOutline);
}

.text:hover,
.text:focus {
  border: none;
  background: #2962ff1a;
}

/* sizes */
.sm {
  padding: 6px 12px;
}
.md {
  padding: 8px 16px;
}
.lg {
  padding: 11px 22px;
}

/* color */
.default {
  background: var(--defaultBg);
}
.primary {
  background: var(--primaryOutline);
  color: #fff;
}
.secondary {
  background: var(--secondary);
  color: #fff;
}
.danger {
  background: var(--danger);
  color: #fff;
}

/* icons */

.end-icon {
  margin-left: 5px;
}
.start-icon {
  margin-right: 5px;
}
