@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
:root {
  --defaultBg: #e0e0e0;
  --defaultFont: "Noto Sans", sans-serif;
  --defaultFontSize: 0.9rem;
  --primaryOutline: #3d5afe;
  --secondary: #455a64;
  --danger: #d32f2f;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  margin: 2rem 2rem;
  justify-content: space-evenly;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

li {
  font-size: 24px;
  margin: 1rem;
}
a {
  text-decoration: none;
  color: rgb(172, 171, 171);
}
a:active {
  color: black !important;
}

.flex-container {
  display: flex;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
}

h6 {
  color: rgb(114, 111, 111);
  font-style: normal;
}

/* button  styles */

button {
  padding: 8px 20px;
  font-family: var(--defaultFont);
  background: var(--defaultBg);
  outline: none;
  font-size: var(--defaultFontSize);
  border: none;
  font-weight: 700;
  border-radius: 6px;
  letter-spacing: 1px;
  box-shadow: 0px 2px 3px 0px #33333333;
  width: 150px;
}

/* ******************  */
/* variant */
/* outline styles */

.outline {
  border: 1px solid var(--primaryOutline);
  background: #fff;
}

.outline:hover,
.outline:focus {
  border: 1px solid var(--primaryOutline);
  background: #9bb6ff;
}

/* text */

.text {
  border: none;
  background: none;
  color: var(--primaryOutline);
}

.text:hover,
.text:focus {
  border: none;
  background: #2962ff1a;
}

/* sizes */
.sm {
  padding: 6px 12px;
}
.md {
  padding: 8px 16px;
}
.lg {
  padding: 11px 22px;
}

/* color */
.default {
  background: var(--defaultBg);
}
.primary {
  background: var(--primaryOutline);
  color: #fff;
}
.secondary {
  background: var(--secondary);
  color: #fff;
}
.danger {
  background: var(--danger);
  color: #fff;
}

/* icons */

.end-icon {
  margin-left: 5px;
}
.start-icon {
  margin-right: 5px;
}
